<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tr.limonist.kudra">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@drawable/app_logo_k"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".app.main.BranchesDetail"></activity>
        <activity android:name=".app.user.ProfileSettingsTwo" />
        <activity android:name=".app.main.Notifications" />
        <activity android:name=".app.main.MyPromotionCodeId" />
        <activity android:name=".app.main.MyPromotionQrCode" />
        <activity android:name=".app.main.MyPromotions" />
        <activity android:name=".app.main.Promotions" />
        <activity android:name=".app.profile.PraticalSolvesDetail" />
        <activity android:name=".app.profile.Help" />
        <activity android:name=".app.profile.PraticalSolves" />
        <activity android:name=".app.profile.MyNotifications" />
        <activity android:name=".app.profile.MyInvoices" />
        <activity android:name=".app.user.UserAggrement" />
        <activity android:name=".app.user.LoginOptions" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCVpyPvHWe6oN0lRkiElNYbpaTdpPJ2N68" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".app.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyVideoDialog"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.StartMain"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.main.Main"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.main.Branches"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.main.BranchesSingle"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.SelfAd"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.main.Feedback"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.main.ScannerActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.user.LoginMain"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.user.PassRecovery"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.user.ChangePassword"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.user.NewUser"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.user.WelcomeActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.user.ProfileSettings"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.shop.ProductDetail"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.shop.Categories"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.shop.Search"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.shop.Products"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.shop.Favorites"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.profile.OrderHistory"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.profile.OrderTracking"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.cart.Cart"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.cart.CheckOut"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.cart.MyAddresses"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.cart.SelectLocation"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.cart.PaymentWebPage"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".app.main.Cargo"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
    </application>

</manifest>